---
layout: base.njk
---
<h2 class="pt-6 pb-10 text-3xl text-center md:mb-16 md:mt-12 md:text-5xl">Unser Team</h2>

<section class="px-4">
  <div class="max-w-5xl mx-auto flex flex-wrap">

    <div class="p-4 mb-20 max-w-xs mx-auto flex flex-col items-center">
      <img class="h-48 w-48 object-cover rounded-full" src="/images/caro.jpg">
      <h2 class="py-4 mt-2 text-2xl text-red-800">Carola</h2>
      <div class="w-12 h-1 bg-beige-400"></div>
      <div class="mt-8 markdown">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="p-4 max-w-xs mx-auto flex flex-col items-center">
      <img class="h-48 w-48 object-cover rounded-full" src="/images/jasmine.jpg">
      <h2 class="py-4 mt-2 text-2xl text-red-800">Jasmine</h2>
      <div class="w-12 h-1 bg-beige-400"></div>
      <div class="mt-8 markdown">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

  </div>
</section>
