<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sport Entspannungstherapie</title>
    <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="text-xl font-body antialiased text-gray-900">
    <header class="fixed top-0 z-50 w-full bg-white shadow sm:px-6 sm:py-6">
      <div class="sm:flex sm:flex-row-reverse sm:justify-between sm:items-center sm:max-w-6xl sm:mx-auto">
        <div class="flex flex-grow items-center justify-between px-3 py-4 sm:p-0 sm:flex-grow-0">
          <div id="menuBtn" class="sm:hidden">
            <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
          </div>
          <button class="px-3 py-2 border-solid border-2 rounded border-transparent bg-red-400 hover:shadow-lg">
            <a href="#">{{ btnBookingTitle }}</a>
          </button>
        </div>
        <nav id="navMenu" class="hidden px-4 pb-4 sm:flex sm:flex-grow sm:p-0">
          <a href="#" class="block py-1 px-2 hover:bg-gray-100 rounded">Massagen</a>
          <a href="#" class="block mt-1 py-1 px-2 hover:bg-gray-100 rounded sm:mt-0 sm:ml-2">Workshops</a>
          <a href="#" class="block mt-1 py-1 px-2 hover:bg-gray-100 rounded sm:mt-0 sm:ml-2">Kontakt</a>
        </nav>
      </div>
    </header>
    <section class="mt-32 mb-16 h-80/100 text-center flex items-center justify-center bg-cover bg-center sm:mb-12 sm:text-left" style="background-image: url('/images/hero_homepage.jpg')">
      <div class="mx-6 p-4 max-w-6xl bg-white opacity-75 border-2 border-gray-200 sm:w-4/6 sm:py-8 sm:border-none">
        <h1 class="text-4xl mb-6 sm:w-2/3">{{ heroTitle }}</h1>
        <p>{{ heroSubtitle }}</p>
      </div>
    </section>
    {%- if collections.visibleAnnouncements | length > 0 -%}
      <section class="sm:px-6">
        <div class="px-6 pt-8 bg-red-200 sm:rounded">
          <h2 class="inline-block mb-8 pb-2 border-b-2 border-red-800 text-2xl text-red-900">Aktuelle Ankündigungen</h2>
          <ul class="overflow-auto">
          {%- for announcement in collections.visibleAnnouncements -%}
            <li class="mb-8">
              {{ announcement.templateContent | safe }}
            </li>
          {%- endfor -%}
          </ul>
        </div>
      </section>
    {%- endif -%}
    <svg class="svg-waves fill-current text-red-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
      <path d="M0 96l80-5.3c80-5.7 240-15.7 400 0C640 107 800 149 960 149.3c160-.3 320-42.3 400-64l80-21.3v256H0z"/>
    </svg>
    <section class="px-4 bg-red-200">
      <h2 class="pt-6 pb-10 text-3xl text-center sm:mb-16 sm:text-5xl">Unsere Services</h2>
      <div class="max-w-5xl mx-auto flex flex-wrap justify-between">
        <div class="mb-24 flex flex-col sm:max-w-xs bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="px-4 h-64 text-center flex items-center justify-center bg-cover bg-left" style="background-image: url('/images/massage_medical.jpg')">
            <h2 class="px-2 py-5 leading-snug bg-white opacity-75 text-3xl">Medizinische Massage</h2>
          </div>
          <div class="px-2 flex-1">
            <p class="px-2 pt-8 leading-snug">Die <span class="font-semibold">Medizinische Massage</span> dient als Vorsorgemaßnahme zur Verhinderung von Krankheiten, Leiden und Körperschaden.</p>
            <a class="px-2 my-3 mb-6 inline-block text-orange-600 rounded hover:bg-gray-100" href="#">
              Mehr erfahren
              <svg class="w-4 inline-block fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M18.59 13H3a1 1 0 010-2h15.59l-5.3-5.3a1 1 0 111.42-1.4l7 7a1 1 0 010 1.4l-7 7a1 1 0 01-1.42-1.4l5.3-5.3z"/>
              </svg>
            </a>
          </div>
          <div class="py-6 flex justify-center bg-red-100">
            <a class="p-3 w-40 block text-center bg-red-400 rounded hover:shadow-lg" href="#">Buchen</a>
          </div>
        </div>

        <div class="mb-24 flex flex-col sm:max-w-xs bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="px-4 h-64 text-center flex items-center justify-center bg-cover bg-left" style="background-image: url('/images/massage_classic.jpg')">
            <h2 class="px-2 py-5 leading-snug bg-white opacity-75 text-3xl">Klassische Massage</h2>
          </div>
          <div class="px-2 flex-1">
            <p class="px-2 pt-8 leading-snug">Das Ziel einer <span class="font-semibold">klassischen Massage</span> ist, dass Sie sich rundum wohlfühlen und für einen Moment den Alltag loslassen können.</p>
            <a class="px-2 my-3 mb-6 inline-block text-orange-600 rounded hover:bg-gray-100" href="#">
              Mehr erfahren
              <svg class="w-4 inline-block fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M18.59 13H3a1 1 0 010-2h15.59l-5.3-5.3a1 1 0 111.42-1.4l7 7a1 1 0 010 1.4l-7 7a1 1 0 01-1.42-1.4l5.3-5.3z"/>
              </svg>
            </a>
          </div>
          <div class="py-6 flex justify-center bg-red-100">
            <a class="p-3 w-40 block text-center bg-red-400 rounded hover:shadow-lg" href="#">Buchen</a>
          </div>
        </div>

        <div class="mb-24 flex flex-col sm:max-w-xs bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="px-4 h-64 text-center flex items-center justify-center bg-cover bg-left" style="background-image: url('/images/massage_foot.jpg')">
            <h2 class="px-2 py-5 leading-snug bg-white opacity-75 text-3xl">Fußreflexzonen Massage</h2>
          </div>
          <div class="px-2 flex-1">
            <p class="px-2 pt-8 leading-snug">Die <span class="font-semibold">Fußreflexzonen Massage</span> kann Schmerzen lindern und wirkt beruhigend. Sie regt die Durchblutung des Fußes an, baut Stress ab und kräftigt die körperliche Verfassung.</p>
            <a class="px-2 my-3 mb-6 inline-block text-orange-600 rounded hover:bg-gray-100" href="#">
              Mehr erfahren
              <svg class="w-4 inline-block fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M18.59 13H3a1 1 0 010-2h15.59l-5.3-5.3a1 1 0 111.42-1.4l7 7a1 1 0 010 1.4l-7 7a1 1 0 01-1.42-1.4l5.3-5.3z"/>
              </svg>
            </a>
          </div>
          <div class="py-6 flex justify-center bg-red-100">
            <a class="p-3 w-40 block text-center bg-red-400 rounded hover:shadow-lg" href="#">Buchen</a>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/js/dropdown.js"></script>
</html>
