---
layout: base.njk
---
<h2 class="pt-6 pb-10 text-3xl text-center md:mb-16 md:text-5xl">Unsere Services</h2>

<section class="px-4">
  <div class="max-w-6xl mx-auto flex flex-wrap">

    {%- for service in collections.service -%}
      <div id="{{ service.fileSlug }}" class="mb-20 max-w-xs mx-auto flex flex-col shadow-lg md:max-w-full md:flex-row md:shadow-none md:mb-56">
        <div class="md:w-1/3 text-center flex flex-col items-center bg-beige-100 md:bg-transparent">
          <img class="h-48 w-full object-cover opacity-75 md:h-full" src="{{ service.data.imageUrl }}">
          <h2 class="p-4 -mt-8 inline-block bg-white shadow-md z-10 rounded md:hidden">{{ service.data.name }}</h2>
        </div>
        <div class="md:w-2/3 px-4 pb-6 pt-8 bg-beige-100 md:bg-transparent md:pt-0 md:pb-0 md:px-8">
          <h2 class="pb-4 text-2xl hidden md:block md:px-2">{{ service.data.name }}</h2>
          <div class="md:px-2">
            {{ service.templateContent | safe }}
          </div>
          <a class="hidden text-2xl px-2 mt-3 border-4 border-orange-400 text-orange-600 rounded hover:bg-orange-400 hover:text-white md:inline-block" href="#">Buchen</a>
        </div>
        <div class="py-6 w-full flex justify-center bg-beige-200 md:hidden">
          <a class="p-3 w-40 block text-center bg-white rounded shadow hover:shadow-lg" href="#">Buchen</a>
        </div>
      </div>
    {%- endfor -%}


    <div class="max-w-xs mx-auto flex flex-col shadow-lg md:max-w-full md:flex-row md:shadow-none md:mb-56 md:flex-row-reverse">
      <div class="md:w-1/3 text-center flex flex-col items-center bg-beige-100 md:bg-transparent">
        <img class="h-48 w-full object-cover opacity-75 md:h-full" src="/images/massage_classic.jpg">
        <h2 class="p-4 -mt-8 inline-block bg-white shadow-md z-10 rounded md:hidden">Klassische Massage</h2>
      </div>
      <div class="md:w-2/3 px-4 pb-6 pt-8 bg-beige-100 md:bg-transparent md:pt-0 md:pb-0 md:px-8">
        <h2 class="pb-4 text-2xl hidden md:block md:px-2">Klassische Massage</h2>
        <div class="md:px-2">
          <p class="mb-4">Das Ziel einer klassischen Massage ist, dass Sie sich rundum wohlfühlen und für einen Moment den Alltag loslassen können. Lassen Sie den Stress hinter sich und kommen Sie zur Ruhe.</p>

          <p class="mb-4">Neben der Entspannung des gesamten Körpers und eine Pflege der Haut, hat eine klassische Massage weitere positive Effekte auf Ihren Körper. Folgende Effekte können erreicht werden:</p>

          <ul class="pl-6 mb-4 list-disc">
            <li>Stimulation des Stoffwechsels</li>
            <li>Lösung energetischer Blockaden</li>
            <li>Lösung muskulärer Verspannungen</li>
            <li>Entspannung des Bindegewebes</li>
            <li>Lockerung psychischer Anspannungen</li>
          </ul>

          <p class="mb-4">Ihr Massagetherapeut behandelt Sie ohne große Schwerpunkte zu setzen und konzentriert sich somit auf Ihren gesamten Körper.</p>

          <p class="mb-4">Unsere Therapeuten arbeiten mit überwiegend ruhigen und gleichmäßigen Handgriffen und widmen sich den Schulter-Nacken, Rücken , Beinen, Füßen, Armen und dem Bauch- Bereich, je nach Buchungswunsch</p>
        </div>
        <a class="hidden text-2xl px-2 mt-3 border-4 border-orange-400 text-orange-600 rounded hover:bg-orange-400 hover:text-white md:inline-block" href="#">Buchen</a>
      </div>
      <div class="py-6 w-full flex justify-center bg-beige-200 md:hidden">
        <a class="p-3 w-40 block text-center bg-white rounded shadow hover:shadow-lg" href="#">Buchen</a>
      </div>
    </div>

  </div>
</section>
