backend:
  name: git-gateway
  branch: master
  squash_merges: true # BETA FEATURE: https://www.netlifycms.org/docs/beta-features/#squash-merge-github-pull-requests

publish_mode: editorial_workflow

media_folder: "site/images"

collections:
  - label: "Seiten"
    name: "pages"
    files:
      - label: "Homepage"
        name: "homepage"
        file: "site/index.json"
        fields:
          - {label: "Hero Title", name: heroTitle, widget: string}
          - {label: "Hero Subtitle", name: heroSubtitle, widget: string}
  - label: "Ankündigungen" # Used in the UI
    label_singular: "Ankündigung"
    name: "announcement" # Used in routes, e.g., /admin/collections/blog
    identifier_field: "name" # Serves as an entry's title when viewing a list of entries, and is used in slug creation. Defaults to title
    folder: "site/announcements" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}" # Filename template, {{slug}} is a url-safe version of the title field (or identifier field) for the file (name in our case)
    fields: # Since we're using markdown files, files will be saved with data frontmatter followed by an unparsed body text (edited using a body field)
      - { label: "Name", name: "name", widget: "string" }
      - { label: "Anzeigen?", name: "show", widget: "boolean" }
      - { label: "Body", name: "body", widget: "markdown" }
